<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.mysqljava.user.UserMapper">

	
	<insert id="registUser" parameterType="UserVO">
	INSERT INTO tb_member(uId,uPass,uEmail,uAdress)
	VALUES(#{uId},#{uPass},#{uEmail},#{uAdress})
	</insert>

</mapper>